{% extends 'web/base.html' %}

{% block title %} - Projects Dashboard {% endblock title %}

{% block content %}
<div class="inline-block">
  <h1>Projects - Proposed and Active</h1>
</div>

  <div class="flex flex-wrap mxn2 row">
  {% for p in projects %}
    <div class="column-4 border-box p2" style="height:253px">
      <div class="p2 bg-white border rounded">
        <a class="h4 caps bold mb1 block black" href="{% url 'webfront:project' p.pk %}">
          <span class="right"><i class="icon ion-help-circled navy" alt="Click for more project information."></i></span>
          {% if p.name|length > 30 %}
            {{ p.name|slice:":35" }}...
          {% else %}
            {{ p.name }}
          {% endif %} 
        </a>
        <div class="mb2">
          {{ p.tagline }}
        </div>
        {% if p.client %}
        <div class="h6 mb2">
          Developed with <span class="bold underline">{{ p.client }}</span>
        </div>
        {% endif %}
        <div class="h3">
        {% if p.live_site_url %}
            <a title="Live Site URL" target="_blank" href="{{ p.live_site_url }}" class="black"><i class="icon ion-share"></i></a>&nbsp;
        {% endif %}
        {% if p.github_url %}
            <a title="GitHub Repo URL" target="_blank" href="{{ p.github_url }}" class="black"><i class="icon ion-code-working"></i></a>
        {% endif %}
        </div>
      </div>
    </div>
{% endfor %}
</div>
{% endblock %}
