<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
  <meta charset="utf-8">
  <title>Rhode Island Office of Digital Excellence{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://raw.githubusercontent.com/basscss/addons/master/modules/progress/index.css">
  <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
  <link href="/static/css/skull.min.css" rel="stylesheet">
</head>
<body>
  {% load project_extras %}
  <div class="h6 p1 bg-navy white center caps bold">Work in Progress</div>
  <div class="container px2 py3">
    <header class="clearfix row">
    <div class="column-8 mb0">
      <a href="/" class="p0 col" title="Click to go to Project Index.">
        <img src="/static/img/logo.png" title="ODE Logo" width="250" alt="Click to go to Project Index."></a>
        <a href="/" title="Click to go to Project Index." ><h1 class="bold black">/projects</h1></a>
    </div>
    <div class="column-4 mb0">
      <form class="right">
        <label class="hide" for="q">Search</label>
        <input type="text" id="q" name="q" value="{{ query }}" placeholder="Search for Projects">
        <button class="button h6 caps border bg-navy">Search</button>
      </form>
    </div>
    </header>
    {% block content %}
    {% endblock %}
  <footer class="py3 flex flex-column justify-center center border rounded">
    <div class="pxn2">
      <div class="block">
        <a href="http://www.ri.gov"><img src="static/img/statecoabw-footer.png" title="RI Logo" alt="ri.gov"/></a>
      </div>
      <div class="block">
        <script type="text/javascript">
		  	  now=new Date();
			    year=now.getFullYear(); 
			 </script>&copy; 
			 <script type="text/javascript">
			   document.write(year);
			 </script> - Office of Digital Excellence
			 </div>
      <div class="block">An Official Rhode Island State Website
      </div>
      <div class="block">
        <span class="bold">Status:</span> Alpha
      </div>
      <div class="block">
        <a href="https://github.com/401ode/projects">
          <i class="icon ion-social-github navy"></i>
        </a>
      </div>
    </div>
  </footer>

  </div>
  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73270565-4', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
