{% extends 'web/base_usds.html' %}

{% block title %} - Projects Dashboard {% endblock title %}

{% block content %}
<h2 class="usa-heading">Projects - Proposed and Active</h2>
<div class="usa-grid">
{% for p in projects %}
    <div class="usa-width-one-third usa-background-dark">
      <h4><a href="{% url 'web:project' p.pk %}">
        <i class="icon ion-help-circled"></i>
        {{ p.name }}
      </a></h4>
        <p>{{ p.tagline }}</p>
      {% if p.client %}
      
      <p>Developed with <span class="bold underline">{{ p.client.agency }}</span></p>
      {% endif %}
      <h3>
        {% if p.live_site_url %}
        <a href="{{ p.live_site_url }}" class="black"><i class="icon ion-share"></i></a>&nbsp;
        {% endif %}
        {% if p.github_url %}
        <a target="_blank" href="{{ p.github_url }}" class="black"><i class="icon ion-code-working"></i></a>
        {% endif %}
        
      </h3>

    </div>

{% endfor %}

</div>

{% endblock content %}
